.links {
  flex: 1;
}

.linksInner {
  padding-top: var(--mantine-spacing-xl);
  padding-bottom: var(--mantine-spacing-xl);
  padding-right: var(--mantine-spacing-md);
  padding-left: var(--mantine-spacing-md);
}

.footer {
  border-top: rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}
